<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>旅行计划网-定制</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script charset="utf-8" src="js/ueditor/ueditor.config.js"></script>
    <script charset="utf-8" src="js/ueditor/ueditor.all.js"></script>
    <script charset="utf-8" src="js/ueditor/zh-cn.js"></script>
    <link rel="stylesheet" href="css/search.css">
    <script type="text/javascript">
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var content = UE.getEditor('content');

        function save() {
            var param = {
                "note": $("#note").val(),
                "title": $("#title").val(),
                "content": content.getContent()
            };
            $.ajax({
                url: "/saveCustomized",
                type: "post",
                data: JSON.stringify(param),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    alert(data.message);
                }
            })
        }

        $(function () {
            $("#routeForm").submit(function () {
                var param = {
                    "note": $("#note").val(),
                    "title": $("#title").val(),
                    "content": content.getContent()
                };
                $.post("/saveCustomized", $(this).serialize(), function (data) {
                    if (data.flag) {
                        location.href = "findRouteList";
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
<!--引入头部-->
<div id="header"></div>
<div class="container">
    <div class="page_one">
        <div class="crumbs">
            <img src="images/search.png" alt="">
            <p>旅行计划><span>定制</span></p>
        </div>
    </div>
    <div class="row clearfix" style="font-size: large">
        <div class="col-md-12 column">
            <form class="form-horizontal" id="routeForm">
                <div class="form-group">
                    <label for="title" class="col-sm-1 control-label">标题</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="note" class="col-sm-1 control-label">描述</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="note" name="note"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-1 control-label">内容</label>
                    <div class="col-sm-10">
                        <script id="content" name="content" type="text/plain" style="height: 300px;"></script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-2 navbar-right">
                        <button type="submit" class="btn btn-lg btn-primary active">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--引入尾部-->
<div id="footer"></div>
<!--导入布局js，共享header和footer-->
<script type="text/javascript" src="js/include.js"></script>
</body>
</html>