<script>
    function search() {
        location.href = "findRouteList?title="+$("#title").val();
    }
</script>
<!--引入头部-->
<nav class="navbar navbar-default" role="navigation" style="font-size: x-large;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="font-size: xx-large;">KOSMO</a>
        </div>
        <div>
            <!--向左对齐-->
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index">首页</a></li>
                <li><a href="/findRouteList">发现</a></li>
                <li><a href="/customized">定制</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="请输入路线名称" class="search_input">
                </div>
                <img src="images/search.png" onclick="search();">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img src="images/person.png"></li>
                <li><a href="/myFavorite">我的主页</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>